.certif-carousel{
    width: 100%;
    overflow-x: auto;
    padding: 30px;
    position:relative;
}

.certif-carousel::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    display: block; /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.certif-carousel::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, #087ba5 0%, #0c864f 100%);
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.certif-carousel::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(0deg, #055674 0%, #115a39 100%);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.certif-carousel::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.certif-carousel::-webkit-scrollbar-track {
    background: white;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.certif-carousel::-webkit-scrollbar-track:hover,
.certif-carousel::-webkit-scrollbar-track:active {
    background: #f1f0f0;
}

.certif-carousel__container{
    white-space: nowrap;
    margin:70px 0px;
    padding-bottom:10px;
}
.certif-carousel-item{
    background-color: black;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    /* cursor: pointer; */
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.certif-carousel-item:hover ~ .certif-carousel-item{
    transform: translate3d(200px, 0, 0);
}
.certif-carousel__container:hover .certif-carousel-item{
    opacity: 0.3;
}
.certif-carousel__container:hover .certif-carousel-item:hover{
    transform: scale(1.8);
    opacity: 1;
}
.certif-carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.certif-carousel-item__datails{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9)0%, rgba(0, 0, 0, 0)100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.certif-carousel-item__details--title{
    color:white;
}
.certif-carousel-item__details--subtitle{
    color:white;
}
