/*Main colors
#43cea2
#185a9d
#031926*/

/* @font-face {
    font-family: "Primary";
    src: url("../fonts/jaapokki/jaapokkisubtract-regular.eot");
    src: url("../fonts/jaapokki/jaapokkisubtract-regular.woff") format("woff"), url("../fonts/jaapokki/jaapokkisubtract-regular.ttf") format("truetype"), url("../fonts/jaapokki/jaapokkisubtract-regular.svg#filename") format("svg");
}

@import url('https://fonts.googleapis.com/css?family=Muli:200,300,600,700'); */

body {
    background: #fff;
    color: #031926;
    font-size: 1em;
    line-height: 1.25;
    font-family: 'Muli', sans-serif !important;
    font-weight: 400;
    overflow-x: hidden; 
}

html,
body,
div,
span,
applet,
object,
iframe,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

h2 {
    color: #777 !important;
}

h2 small{
    color: #959595 !important;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
button {
    outline: none;
}

a {
    color: #566473;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #34495e;
}

.content {
    /* margin-top: -12rem; */
    width: 100%;
}

section {
    padding: 1em;
    text-align: center;
}

textarea {
    resize: none;
    width: 100%;
}


#section07 a {
    border-radius: 50%;
}

#section07 a span {
    position: absolute;
    top: 88%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #031926;
    border-bottom: 2px solid #031926;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.night #section07 a span {
    position: absolute;
    top: 88%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    /* border-left: 1px solid #031926;
    border-bottom: 1px solid #031926; */
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

#section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#section07 a span:nth-of-type(2) {
    top: 90%;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

#section07 a span:nth-of-type(3) {
    top: 92%;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

p.ref {
    text-align: center;
    padding: 2em 1em;
}

/* Header */

.rast-header {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    max-width: 900px;
    margin-top: 50px;
}

.rast-header h1 {
    font-family: 'Primary', Moderne Sans, sans-serif;
    margin: 0;
    font-size: 3em;
    line-height: 1;
    font-weight: 600;
}
.rast-title-experience{
    font-family: 'Primary', Moderne Sans, sans-serif;
    margin: 0;
    font-size: 3em;
    line-height: 1;
    font-weight: 600;
}

.rast-header span {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    display: block;
    /* padding: 1em 0 1.5em;  lo comento porque me rompe las flechas del carrusel*/
    font-size: 26px;
    color: #333333;
    line-height: 1.4;
}

/*ESTILOS PARA EL MODO NOCTURNO*/
/*Circulo del cielo*/
.time-circle {
    cursor: pointer;
    position: relative;
    background: linear-gradient(to bottom, #be4405, #f6c60c);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4.5px solid #555;
    overflow: hidden;
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;

    -webkit-transition: all 1.1s ease-in-out;
    transition: all 1.1s ease-in-out;
}
.night .time-circle {
    background: linear-gradient(to bottom, #111936, #285a7b);
    border-color: #e9e5d5;
}
/*Este es el sol*/
.sun {
    margin-top: 20px;
    background: #f2ef88;
    box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
    width: 30%;
    height: 30%;
    border-radius: 50%;
    position: relative;
    left: 35%;
    top: 10%;
    -webkit-animation: pulse 5s ease infinite alternate;
    animation: pulse 5s ease infinite alternate;
    -webkit-transition: all 1.1s 0.4s ease;
    transition: all 1.1s 0.4s ease;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
    }
    50% {
        box-shadow: 0 0 40px rgba(242, 239, 136, 1);
    }
    100% {
        box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
    }
}
@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
    }
    50% {
        box-shadow: 0 0 40px rgba(242, 239, 136, 1);
    }
    100% {
        box-shadow: 0 0 20px rgba(242, 239, 136, 0.4);
    }
}
.night .sun {
    top: 70%;
    left: 20%;

    -webkit-transition: all 1.1s 0s ease;
    transition: all 1.1s 0s ease;
}
/*Esta es la luna*/
.moon {
    position: absolute;
    margin-top: 20px;
    background: #d9d8d0;
    box-shadow: inset -5px 2px 0 0px #899098;
    width: 25%;
    height: 25%;
    border-radius: 100%;
    position: relative;
    left: 115%;
    margin-left: -50px;
    top: -100%;
    overflow: hidden;

    -webkit-transition: all 1.1s 0s ease;
    transition: all 1.1s 0s ease;
}
.night .moon {
    left: 110%;
    top: -50%;

    -webkit-transition: all 1.1s 0.4s ease;
    transition: all 1.1s 0.4s ease;
}
.stars {
    opacity: 0;
    margin-left: 100px;
    top: 0;
    left: 0;
    -webkit-transition: all 0.8s 0s ease;
    transition: all 0.8s 0s ease;
    z-index: 1000;
}
.night .stars {
    opacity: 1;
    -webkit-transition: all 3s 0.4s ease;
    transition: all 3s 0.4s ease;
}
.stars div:nth-child(n) {
    position: absolute;
    background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    overflow: hidden;
    width: 2.5%;
    height: 2.5%;

    /* margin-left: 10%;
  margin-top: -10%; */

    -webkit-transition: all 1s 0s ease;
    transition: all 1s 0s ease;
}
.night .stars div:nth-child(n) {
    margin-left: 0;
    margin-top: 0;
    -webkit-transition: all 1s 0.4s ease-out;
    transition: all 1s 0.4s ease-out;
}
.stars div:nth-child(1) {
    left: 15%;
    top: 65%;
}
.stars div:nth-child(2) {
    left: 31%;
    top: 65%;
}
.stars div:nth-child(3) {
    left: 15%;
    top: 50%;
}
.stars div:nth-child(4) {
    left: 15%;
    top: 35%;
}
.stars div:nth-child(5) {
    left: 28%;
    top: 58%;
}
.stars div:nth-child(6) {
    width: 1%;
    height: 1%;
    left: 80%;
    top: 50%;
}
.stars div:nth-child(7) {
    left: 30%;
    top: 50%;
}
.stars div:nth-child(8) {
    left: 30%;
    top: 35%;
}
.stars div:nth-child(9) {
    left: 15%;
    top: 58%;
}
.stars div:nth-child(10) {
    left: 15%;
    top: 43%;
}
.stars div:nth-child(11) {
    left: 23%;
    top: 35%;
}
.stars div:nth-child(12) {
    left: 23%;
    top: 50%;
}
.stars div:nth-child(13) {
    left: 30%;
    top: 43%;
}
/* Estrellas pequeñas */
.stars div:nth-child(14) {
    width: 1%;
    height: 1%;
    left: 60%;
    top: 10%;
}
.stars div:nth-child(15) {
    width: 1%;
    height: 1%;
    left: 40%;
    top: 23%;
}
.stars div:nth-child(16) {
    width: 1%;
    height: 1%;
    left: 18%;
    top: 20%;
}
.stars div:nth-child(17) {
    width: 1%;
    height: 1%;
    left: 45%;
    top: 42%;
}
.stars div:nth-child(18) {
    width: 1%;
    height: 1%;
    left: 60%;
    top: 60%;
}
.water {
    position: absolute;
    background: repeating-radial-gradient(
            ellipse farthest-corner at center -400%,
            #f5c30e 30%,
            #518eac 90%
        )
        repeat scroll 0 0 #518eac;
    width: 100%;
    height: 200px;
    top: 68%;

    -webkit-transition: all 1.1s ease;
    transition: all 1.1s ease;
}
.night .water {
    background: repeating-radial-gradient(
            ellipse farthest-corner at center -400%,
            #7fa1bb 30%,
            #1d425a 90%
        )
        repeat scroll 0 0 #1d425a;
}
/*TERMINAN ESTILOS DEL MODO NOCTURNO*/


.text-color{
    color: black;
}
.night .text-color{
    color: rgba(245, 245, 245, 0.829);
}
.night{
    background: #080d17;
}

@media only screen and (max-width: 40em) {
    .rast-header h1 span {
        font-size: 50%;
    }
    .rast-title-experience{
        font-size: 50%;
    }
    .rast-demos a {
        font-size: 1.2rem !important;
    }
    
}

@media only screen and (min-width: 112.5em) {
    .rast-header h1 span {
        display: block;
    }
}

/* To Navigation Style */

.rast-top {
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.69em;
    text-align: center;
    padding: 3em 0;
}

.rast-top a {
    display: inline-block;
    padding: 1.5em;
    text-decoration: none;
    letter-spacing: 1px;
}

.rast-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'rasticons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.rast-icon-drop:before {
    content: "\e001";
}

.rast-icon-prev:before {
    content: "\e004";
}

#page-wrap {
    width: 800px;
    margin: 0 auto;
}

/* Demo Buttons Style */

@media only screen and (min-width: 112.5em) {
    .rast-demos {
        font-size: 0.8em;
    }

}

.rast-demos a {
    color: #031926;
    display: inline-block;
    margin: 0.35em 0.1em;
    padding: 0.5em 1.2em;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 2px;
    border: 2px solid transparent;
    font-size: 1.2rem;
}

.rast-demos a:hover {
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    border-color: #43cea2;
}

.rast-demos h3 {
    margin: 0;
    padding: 1em 0 0.5em 0;
    font-size: 0.9em;
    float: left;
    min-width: 90px;
    clear: left;
}

.rast-demos div:not(:first-child) h3 {
    padding-top: 2em;
}

.rast-demos a:hover,
.rast-demos a.current-demo {
    color: inherit;
    text-decoration: none;
    border-color: initial;
}

a.face:hover {
    /*color:#3B5998;*/
    color: #43cea2;
}

a.instagram:hover {
    /*color:#4099FF;*/
    color: #43cea2;
}

a.linked:hover {
    /*color:#007bb6;*/
    color: #43cea2;
}

a.behance:hover {
    /*color: #1769ff;*/
    color: #43cea2;
}

a.unsplash:hover {
    /*color:#333333;*/
    color: #43cea2;
}

/* Related demos */

.related {
    padding: 5em 0;
}

@media only screen and (max-width: 75em) {
    .related {
        padding: 5em 0;
    }
}

@media only screen and (max-width: 56.25em) {
    .related {
        padding: 2em 0;
    }
}

.related p {
    font-size: 1.5em;
}

.related>a {
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    vertical-align: middle;
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
    border-radius: 10px;
}

.related a:hover img,
.related a:active img {
    opacity: 1;
}

.related a h3 {
    margin: 0;
    min-height: 63px;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
}

@media screen and (max-width: 40em) {
    .rast-header h1 {
        font-size: 2.5em;
    }
    .rast-title-experience{
        font-size: 2.5em;
    }
}
.bgcolor-4 {
    min-height: 450px;
    background: #2f3238;
    color: #fff;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    /*max-width: 350px;*/
    width: 90%;
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #696969;
    font-weight: bold;
    font-size: 80.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

/* Chisato */

.input--chisato {
    padding-top: 1em;
}

.input__field--chisato {
    width: 100%;
    padding: 0.8em 0.5em;
    background: transparent;
    border: 2px solid;
    color: #b5b5b5;
    -webkit-transition: border-color 0.25s;
    transition: border-color 0.25s;
}

.input__label--chisato {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: left;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
}

.input__label-content--chisato {
    padding: 0 1em;
    font-weight: 400;
    color: #b5b5b5;
}

.input__label-content--chisato::after {
    content: attr(data-content);
    position: absolute;
    top: -200%;
    left: 0;
    color: #43cea2;
    font-weight: 800;
}

.input__field--chisato:focus,
.input--filled .input__field--chisato {
    border-color: #43cea2;
}

.input__field--chisato:focus+.input__label--chisato,
.input--filled .input__label--chisato {
    -webkit-animation: anim-chisato-1 0.25s forwards;
    animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus+.input__label--chisato .input__label-content--chisato,
.input--filled .input__label-content--chisato {
    -webkit-animation: anim-chisato-2 0.25s forwards ease-in;
    animation: anim-chisato-2 0.25s forwards ease-in;
}

@-webkit-keyframes anim-chisato-1 {
    0%,
    70% {
        -webkit-transform: translate3d(0, 3em, 0);
        transform: translate3d(0, 3em, 0);
    }
    71%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes anim-chisato-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    70%,
    71% {
        -webkit-transform: translate3d(0, 125%, 0);
        transform: translate3d(0, 125%, 0);
        opacity: 0;
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        color: transparent;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
    }
}

@keyframes anim-chisato-1 {
    0%,
    70% {
        -webkit-transform: translate3d(0, 3em, 0);
        transform: translate3d(0, 3em, 0);
    }
    71%,
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes anim-chisato-2 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    70%,
    71% {
        -webkit-transform: translate3d(0, 125%, 0);
        transform: translate3d(0, 125%, 0);
        opacity: 0;
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        color: transparent;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
    }
}
/* .container{
    margin-right: 0!important;
    margin-left: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
}
.row{
    margin-right: 0!important;
    margin-left: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
}
.col{
    margin-right: 0!important;
    margin-left: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
} */
.card{
    padding-top: 10px;
    height: 500px;
    background-color: transparent;
    text-align: center;
}

.card > img{
    /* object-fit: cover; */
}
.card-img-top1{
    margin: auto;
    width: 450px;
    height: 320px;
    border-radius: 1px;
    background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifGetMatcha.gif");
    background-repeat: no-repeat;
    background-size: 450px;
}
.night .card-img-top1{
    margin: auto;
    width: 450px;
    height: 300px;
    border-radius: 1px;
    background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifGetMatchaNight.gif");
    background-repeat: no-repeat;
    background-size: 450px;
}
.card-img-top2{
    margin: auto;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifSpotify.gif");
    background-repeat: no-repeat;
    background-size: 450px;
}
.night .card-img-top2{
    margin: auto;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifSpotifyNight.gif");
    background-repeat: no-repeat;
    background-size: 450px;
}
.card-body{
    height: 250px!important;
    text-align: center;
}
.card-title{  
}
.card-text{
}
.btn-primary{
   background-color: #43CEA2!important;
   border-color: #43CEA2!important;
}
.btn-primary:hover{
    background-color: #136e51!important;
    border-color: #136e51!important;
 }

.carousel-indicators li{
    position: relative;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: transparent;
    border: 2px solid #43CEA2!important;
}

.carousel-indicators .active {
    background-color: #43CEA2!important;
} 
.carousel-control-prev-icon{
    background-image: url("../img/flecha-izquierda.png");
}
.carousel-control-next-icon {
    background-image: url("../img/flecha-derecha.png");
} 

svg,rect{
    top:0;
    left:0;
    width: 100%;
    height: 500px;
    fill: transparent;
}
rect{
    stroke: #43CEA2;
    stroke-width: 10;
    stroke-dasharray:700;
    animation: animate 4s linear infinite;
} 

 @keyframes animate{
    0% {
        stroke-dashoffset: 2800;
      }
    100% {
        stroke-dashoffset: 0;
    }
} 
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.container-certificates{
        width: 100%;
        height: 670px;
        background-color: transparent;
        margin: auto;
        z-index: -2;
        overflow: hidden;
        transition: all 0.2s linear;
}
.mouseover-bg {
    overflow: hidden;
    display: block;
    position: absolute;
    opacity: 0;
    background: linear-gradient(
        45deg,
        #e8f74d,
        #ff6600d9,
        #00ff66,
        #13ff13,
        #ad27ad,
        #bd2681,
        #6512b9,
        #ff3300de,
        #5aabde
    );
    background-size: 400%;
    animation: glower 20s linear infinite;
    filter: blur(40px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
    
}

@keyframes glower {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
/*TERMINA CERTIFICADOS---------------------------------------------------*/

/*INICIA FORMULARIO*/
.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}
.label-form{
    margin-top: 20px;
    align-self: flex-start;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.night .label-form{
    margin-top: 20px;
    align-self: flex-start;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* .input-form{
    border: 1px solid black!important;
    align-self: center;
    width: 100%!important;
    border-radius: 5px;
}
.button-form{
    margin-top: 20px;
    width: 120px;
    border:solid .5px black;
    border-radius: 5px;
    height: 40px;
} */

@media (max-width: 500px) {
    .card-img-top1{
        margin: auto;
        width: 350px;
        height: 220px;
        border-radius: 1px;
        background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifGetMatcha.gif");
        background-repeat: no-repeat;
        background-size: 350px;
    }
    .night .card-img-top1{
        margin: auto;
        width: 350px;
        height: 200px;
        border-radius: 1px;
        background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifGetMatcha.gifNight");
        background-repeat: no-repeat;
        background-size: 350px;
    }
    .card-img-top2{
        margin: auto;
        width: 350px;
        height: 200px;
        border-radius: 10px;
        background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifSpotify.gif");
        background-repeat: no-repeat;
        background-size: 350px;
    }
    .night .card-img-top2{
        margin: auto;
        width: 350px;
        height: 200px;
        border-radius: 10px;
        background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifSpotifyNight.gif");
        background-repeat: no-repeat;
        background-size: 350px;
    }
    .container-certificates{
        width: 100%;
        height: 1050px;
        background-color: transparent;
        margin: auto;
        z-index: -2;
        overflow: hidden;
        transition: all 0.2s linear;
}
    svg,rect{
        top:0;
        left:0;
        width: 100%;
        height: 500px;
        fill: transparent;
    }
    rect{
        stroke: #43CEA2;
        stroke-width: 10;
        stroke-dasharray:400;
        animation: animate 6s linear infinite;
    } 
    
     @keyframes animate{
        0% {
            stroke-dashoffset: 3200;
          }
        100% {
            stroke-dashoffset: 0;
        }
    } 
}
@media (max-width:400px){
    .card-img-top1{
        margin: auto;
        width: 250px;
        height: 150px;
        border-radius: 1px;
        background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifGetMatcha.gif");
        background-repeat: no-repeat;
        background-size: 250px;
    }
    .night .card-img-top1{
        margin: auto;
        width: 250px;
        height: 150px;
        border-radius: 1px;
        background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifGetMatchaNIght.gif");
        background-repeat: no-repeat;
        background-size: 250px;
    }
    .card-img-top2{
        margin: auto;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifSpotify.gif");
        background-repeat: no-repeat;
        background-size: 250px;
    }
    .night .card-img-top2{
        margin: auto;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        background-image: url("https://raw.githubusercontent.com/RafaelASantosTrujillo/portafolioProfesional/master/gifs/gifSpotifyNight.gif");
        background-repeat: no-repeat;
        background-size: 250px;
    }
}
@media only screen and (max-width: 768px) {
    .card-title{
        font-size: 14px!important;
    }
    .card-text{
        font-size: 12px!important;
    }

}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}
/* --------------------------------

Timeline Components

-------------------------------- */

#map {
    height: 100%;
}

.logo {
    margin: 0 auto;
}

a.designed {
    font-weight: 100;
    color: #2f3238;
}

a.designed:hover {
    color: #43cea2;
    text-decoration: none;
}

input {
    color: Black;
    display: block;
    font-weight: 200 !important;
    background-color: transparent;
    display: inline-block;
    margin: 0.35em 0.1em;
    padding: 0.5em 1.2em;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 200;
    border-radius: 2px;
    font-size: 110%;
    border: 1px solid black;
    border-radius: 5px;
}

.night input {
    color: white;
    display: block;
    font-weight: 200 !important;
    background-color: transparent;
    display: inline-block;
    margin: 0.35em 0.1em;
    padding: 0.5em 1.2em;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 200;
    border-radius: 2px;
    font-size: 110%;
    border: 1px solid white;
    border-radius: 5px;
}

input:hover {
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    text-decoration: none;
    color: #43cea2;
    font-weight: 200;
    border-color: #43cea2;
}
textarea{
    color: black;
    display: block;
    font-weight: 200 !important;
    background-color: transparent;
    display: inline-block;
    margin: 0.35em 0.1em;
    padding: 0.5em 1.2em;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 200;
    border-radius: 2px;
    font-size: 110%;
    border: 1px solid black;
    border-radius: 5px;
}
.night textarea{
    color: white;
    display: block;
    font-weight: 200 !important;
    background-color: transparent;
    display: inline-block;
    margin: 0.35em 0.1em;
    padding: 0.5em 1.2em;
    outline: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 200;
    border-radius: 2px;
    font-size: 110%;
    border: 1px solid white;
    border-radius: 5px;
}
::placeholder{
    color:white;
}
textarea:hover{
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    text-decoration: none;
    color: #43cea2;
    font-weight: 200;
    border-color: #43cea2;
}

.button-form{
    background-color: rgba(255,255,255,0.1);
    margin-top: 20px;
    width: 120px;
    border:solid .5px black;
    border-radius: 5px;
    height: 40px;
}
.night .button-form{
    background-color: rgba(255,255,255,0.1);
    margin-top: 20px;
    width: 120px;
    border:solid .5px white;
    border-radius: 5px;
    height: 40px;
    color: white;
}
.button-form:hover{
    background-image: linear-gradient(#73e2bf,#208565);
    margin-top: 20px;
    width: 120px;
    border:solid .5px black;
    border-radius: 5px;
    height: 40px;
    font-size: bold;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

@media only screen and (max-width: 75em) {
    .svg-container {
        padding-bottom: 100%;
    }
}

@media only screen and (max-width: 56.25em) {
    .svg-container {
        padding-bottom: 70%;
    }
}

@media only screen and (min-width: 112.5em) {
    .svg-container {
        padding-bottom: 100%;
    }
}

.section-contact {
    margin-top: -12rem;
}

/* ::selection { */
    /* background: ::selection { */
  /* background: #ffb7b7; WebKit/Blink Browsers */
/* } */
/* ::-moz-selection { */
  /* background: #00ff7f; Gecko Browsers */
/* }; WebKit/Blink Browsers */
  /* }
  ::-moz-selection { */
    /* background: #00ff7f; Gecko Browsers
  } */
